.categories-list {
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
    gap: 1rem;
}

.navlink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    text-decoration: none;
    color: #fff;
    background: #80CFA9;
    width: 8rem;
    height: 4rem;
    transition: .3s;
}

.navlink:hover {
    background: #6cb190;
    cursor: pointer;
    transition: .3s;
}

.active {
    background: #6cb190;
}