header {
    display: flex;
    padding: 2rem 0;
    justify-content: space-between;
}

.logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 1rem;
    /* justify-content: space-between; */
    /* width: 30%; */
}

.nav-links li {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-links a, .nav-links {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    /* text-align: center; */
}

.cuisines-btn {
    position: relative;
}

.cuisines-dropdown {
    position: absolute;
    top: 4.5rem;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    z-index: 999;
    min-width: 100%;
}

.cuisines-dropdown li {
    padding: 1rem;
    display: flex;
}

.cuisines-dropdown li a {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.hamburger {
    display: none;
    align-items: center;
    font-size: 1.5rem;
}

.close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 9999;
    display: flex;
    font-size: 2rem;
}

@media (max-width: 768px) {
    .logo img {
        height: 40px;
    }

    .hamburger-is-active {
        transform: translateX(0) !important;
    }

    /* .hamburger-is-closed {
        animation: slideOut .5s;
    } */

    .nav-links {
        /* display: none; */
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: #fff;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 999;
        gap: 2rem;
        transform: translateX(-100%);
        transition: all .3s ease-in-out;
    }

    /* @keyframes slideIn {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0%);
        }
    } */

    .nav-links li, .nav-links a {
        /* font-size: 1.5rem; */
    }

    header {
        padding: 1.5rem 0;
    }

    .hamburger  {
        display: flex;
    }
}