header {
    display: flex;
    padding: 2rem 0;
    justify-content: space-between;
}

.logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 1rem;
    /* justify-content: space-between; */
    /* width: 30%; */
}

.nav-links li {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links a, .nav-links {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    /* text-align: center; */
}