.form-container {
    margin: 1rem 30rem 0 30rem;
    position: relative;
    /* width: 100%; */
    /* background: #000; */
}

.form-container input {
    border: none;
    font-size: 1.5rem;
    color: white;
    padding: 1rem 3rem;
    border-radius: 1rem;
    outline: none;
    background: #707070;
    width: 100%;

}

.form-container div {
    width: 100%;

    position: relative;
}

.form-container svg {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(100%, -50%);
    color: #fff;
}