.hero {
    background-image: url("./hero-bg.jpg");
    background-size: cover;
    /* background-position: 60% 40%; */
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 2rem;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(#0000004d, #000000b8)
}

.hero-wrapper {
    z-index: 1;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    padding: 8rem 0;
    gap: 1rem;
}

.hero-wrapper h1 {
    font-size: 40px;
    color: #fff;
    font-weight: 500;
    text-shadow: 0px 2px 20px #0000007c;
}

.hero-search {
    display: flex;
    width: 750px;
    background: #fff;
    border-radius: 4px;
    padding: 0 1rem;
}

.hero-search .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1.5rem;
}

.hero-search input {
    width: 100%;
    padding: 1rem 0;
    border: none;
    border-radius: .5rem;
    font-size: 1.2rem;
    outline: none;
}

.hero-search input::placeholder {
    font-size: 1.2rem;
    color: #969696;
    font-weight: 500;
}

.hero span {
    font-size: 20px;
    color: #C7C7C7;
    text-shadow: 0px 2px 20px #0000007c;
}

.search-is-focused {
    outline: 2px solid #000;
}

@media (max-width: 768px) {
    .hero {
        margin-bottom: 1rem;
    }

    .hero-wrapper {
        padding: 5rem 0;
    }

    .hero-wrapper h1 {
        font-size: 1.5rem;
    }

    .hero span {
        font-size: 1rem;
    }

    .hero-search .icon {
        padding: .5rem .8rem;
        font-size: 1.2rem;
    }
    
    .hero-search input {
        padding: .5rem 0;
    }

    .hero-search input::placeholder {
        font-size: 1rem;
    }
}