.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 5rem 1rem;
}

.searched-card {
    min-height: 20rem;
}

.searched-card a {
    text-decoration: none;
    color: #000;
}

.searched-card img {
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover
}

.searched-card h3 {
    /* text-align: center; */
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: 500;
}