.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 5rem 2rem;
}

.searched-card {
    height: 20rem;
}

.searched-card a {
    text-decoration: none;
    color: #000;
}

.searched-card img {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    object-fit: cover
}

.searched-card h3 {
    text-align: center;
    padding: 1rem;
}