* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

.container {
  margin: 0 18rem;
}

@media (max-width: 1600px) {
  .container {
    margin: 0 12rem;
  }
}

@media (max-width: 1300px) {
  .container {
    margin: 0 8rem;
  }
}

@media (max-width: 800px) {
  .container {
    margin: 0 4rem;
  }
}

@media (max-width: 600px) {
  .container {
    margin: 0 2rem;
  }
}